<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 p-0">
            <nav class="navbar navbar-expand-lg shadow-lg px-3 fixed-top bg-light">
                <a class="navbar-brand" routerLink="/"><img src="../assets/img/CPS-logo1.png" width="200"
                        alt="Tek Rocks IT Services LLC logo" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                    <i class="bi bi-list"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a routerLink="home" routerLinkActive="active" class="nav-link" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show" (click)="deActiveActiveClass()">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="about" routerLinkActive="active" class="nav-link" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show" (click)="deActiveActiveClass()">ABOUT US</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" [ngClass]="{'active':isDropdownActive}" role="button"
                                (click)="toggleDDM($event)" data-bs-toggle="dropdown" aria-expanded="false">
                                <span style="user-select: none;">OUR
                                    PRODUCTS</span>
                            </a>
                            <ul class="dropdown-menu shadow border border-primary" *ngIf="isDDMOpen" @slideInOut>

                                <li class="nav-item">
                                    <a class="dropdown-item" role="button" (click)="closeDDM($event)"
                                        routerLink="/products/media-plates" data-bs-toggle="collapse"
                                        data-bs-target=".navbar-collapse.show">
                                        Ready To Use Media Plates
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="dropdown-item" role="button" (click)="closeDDM($event)"
                                        routerLink="/products/biological-indicators" data-bs-toggle="collapse"
                                        data-bs-target=".navbar-collapse.show">
                                        Biological Indicators
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="dropdown-item" role="button" (click)="closeDDM($event)"
                                        routerLink="/products/filters-funnels" data-bs-toggle="collapse"
                                        data-bs-target=".navbar-collapse.show">
                                        Filters & Funnels
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="dropdown-item" role="button" (click)="closeDDM($event)"
                                        routerLink="/products/glassware" data-bs-toggle="collapse"
                                        data-bs-target=".navbar-collapse.show">
                                        Glassware
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" role="button" (click)="closeDDM($event)"
                                        routerLink="/products/fogger-disinfectant" data-bs-toggle="collapse"
                                        data-bs-target=".navbar-collapse.show">
                                        Fogger & Disinfectant
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" role="button" (click)="closeDDM($event)"
                                        routerLink="/products/depyrogenated-tips-tubes" data-bs-toggle="collapse"
                                        data-bs-target=".navbar-collapse.show">
                                        Depyrogenated Tips and Tubes
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" role="button" (click)="closeDDM($event)"
                                        routerLink="/products/lab-equipment" data-bs-toggle="collapse"
                                        data-bs-target=".navbar-collapse.show">
                                        Lab Equipments
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" role="button" (click)="closeDDM($event)"
                                        routerLink="/products/stainless-steel" data-bs-toggle="collapse"
                                        data-bs-target=".navbar-collapse.show">
                                        Stainless Steel
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" role="button" (click)="closeDDM($event)"
                                        routerLink="/products/liquid-handling-instruments" data-bs-toggle="collapse"
                                        data-bs-target=".navbar-collapse.show">
                                        Liquid Handling Instruments
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a routerLink="our-services" routerLinkActive="active" class="nav-link"
                                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                                (click)="deActiveActiveClass()">OUR SERVICES</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="contact" routerLinkActive="active" class="nav-link" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show" (click)="deActiveActiveClass()">CONTACT US</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>