<div class="container-fluid footer-container">
    <div class="row p-5 gy-4">
        <div class="col-sm-12 col-lg-4">
            <div class="about-company">
                <h5>About Us</h5>
                <div class="company-info">
                    <p>Cloud Pharma Solutions was founded to provide high-quality products, instruments, and laboratory
                        essentials to the scientific community and industry.
                    </p>
                </div>
                <div class="social-media-icons d-flex">
                    <div class="fb"><a href="https://www.facebook.com/" target="_blank"><i
                                class="bi bi-facebook"></i></a></div>
                    <div class="insta"><a href="https://www.instagram.com/" target="_blank"><i
                                class="bi bi-instagram"></i></a></div>
                    <div class="twitter"><a href="https://twitter.com/?lang=en" target="_blank"><i
                                class="bi bi-twitter"></i></a></div>
                    <div class="linkedin"><a href="https://www.linkedin.com/" target="_blank"><i
                                class="bi bi-linkedin"></i></a></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h5>Our Products</h5>
            <a routerLink="/products/media-plates" class="product-link"><i class="bi bi-chevron-right"></i> Ready To Use
                Media
                Plates </a>
            <a routerLink="/products/biological-indicators" class="product-link"><i class="bi bi-chevron-right"></i>
                Biological
                Indicators
            </a>
            <a routerLink="/products/filters-funnels" class="product-link"><i class="bi bi-chevron-right"></i> Filters
                and Funnels </a>
            <a routerLink="/products/glassware" class="product-link"><i class="bi bi-chevron-right"></i>
                Glassware </a>
            <a routerLink="/products/fogger-disinfectant" class="product-link"><i class="bi bi-chevron-right"></i>
                Fogger and Disinfectant </a>
            <a routerLink="/products/depyrogenated-tips-tubes" class="product-link"><i class="bi bi-chevron-right"></i>
                Depyrogenated Tips and Tubes </a>
            <a routerLink="/products/lab-equipment" class="product-link"><i class="bi bi-chevron-right"></i>
                Lab Equipments </a>
            <a routerLink="/products/stainless-steel" class="product-link"><i class="bi bi-chevron-right"></i>
                Stainless Steel </a>
            <a routerLink="/products/liquid-handling-instruments" class="product-link"><i
                    class="bi bi-chevron-right"></i>
                Liquid Handling Instruments </a>
        </div>
        <div class="col-md-4">
            <h5>Contact Info</h5>
            <p><i class="bi bi-geo-alt"></i> 145 Talmadge Rd,<br> Suite#12, <br>Edison, NJ 08817</p>
            <p><i class="bi bi-geo-alt"></i> 145 Talmadge Rd,<br> Suite#12, <br>Edison, NJ 08817</p>
            <p><i class="bi bi-envelope"></i>cloudpharmasolutions@gmail.com</p>
            <div class="col-md-4">
                <a routerLink="/home" class="px-2 py-3 bg-white"><img src="../../assets/img/CPS-logo1.png" alt=""
                        width="100px"></a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bottom-footer">
    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="p-3 text-white mb-0">Copyright 2024 &copy; TekRocks IT Services LLC | All Rights Reserved.</p>
        </div>
    </div>
</div>