<swiper-container (swiperslidechange)="onSlideChange($event)" loop="true" navigation="true" pagination="true"
    pagination-clickable="true" effect="fade" keyboard="true" autoplay-delay="3000"
    autoplay-disable-on-interaction="false">
    <swiper-slide>
        <img src="../../assets/img/meia-plates-1.jpg" alt="">
        <div class="caption">
            <div class="title">
                <h4 *ngIf="activeSlide===0" @fadeSlideUp>Media Plates</h4>
            </div>
            <div class="text">
                <p *ngIf="activeSlide===0" @fadeSlideDown>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Iure,
                    itaque?</p>
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <img src="../../assets/img/glassware.jpg" alt="">
        <div class="caption">
            <div class="title">
                <h4 *ngIf="activeSlide===1" @fadeSlideUp>Glassware</h4>
            </div>
            <div class="text">
                <p *ngIf="activeSlide===1" @fadeSlideDown>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Iure,
                    itaque?</p>
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <img src="../../assets/img/liquid-handling-instruments.jpg" alt="">
        <div class="caption">
            <div class="title">
                <h4 *ngIf="activeSlide===2" @fadeSlideUp>Liquid Handling</h4>
            </div>
            <div class="text">
                <p *ngIf="activeSlide===2" @fadeSlideDown>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Iure, itaque?</p>
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <img src="../../assets/img/fogger-disinfactant.jpg" alt="">
        <div class="caption">
            <div class="title">
                <h4 *ngIf="activeSlide===3" @fadeSlideUp>Fogger and Disinfectant</h4>
            </div>
            <div class="text">
                <p *ngIf="activeSlide===3" @fadeSlideDown>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Iure, itaque?</p>
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <img src="../../assets/img/lab-equipment.jpg" alt="">
        <div class="caption">
            <div class="title">
                <h4 *ngIf="activeSlide===4" @fadeSlideUp>Lab Equipment</h4>
            </div>
            <div class="text">
                <p *ngIf="activeSlide===4" @fadeSlideDown>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Iure, itaque?</p>
            </div>
        </div>
    </swiper-slide>
</swiper-container>

<!-- Slider End -->

<!-- welcome section -->
<div class="container my-3 welcome-container">
    <div class="row mt-2 text-center">
        <div class="col-sm-12">
            <div class="custom-heading">
                <h5 class="display-6 py-5 text-center" data-aos="zoom-in">Welcome To Cloude Pharma Solution</h5>
                <img src="../../assets/img/cps-icon.png" alt="" height="20px" class="heading-icon">
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-sm-12 col-md-6">
            <div class="img-wrapper  p-3" data-aos="slide-up">
                <img src="../../assets/img/welcome-text-img.jpg" alt="" class="img-fluid rounded-2 shadow">
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="text-wrapper p-4" data-aos="zoom-in">
                <h6>Cloud Pharma Solutions was founded to provide the scientific community and industry with
                    high-quality products, instruments, and laboratory essentials.</h6>
                <p>We supply and distribute ready-to-use media, biological indicators, filters, funnels, TOC vials, lab
                    equipment, glassware, disinfectants, liquid handling instruments, fogger machines, depyrogenated
                    tips, and more. Our products serve the Quality Control and Microbiology departments in
                    pharmaceutical industries, food testing labs, seed manufacturing companies, diagnostic centers, and
                    hospitals.</p>
                <button class="btn rounded-0 px-3 py-2 my-3 shadow">Read More</button>
            </div>
        </div>
    </div>
</div>

<!-- Our products section -->
<div class="container my-3 welcome-container">
    <div class="row mt-2 text-center">
        <div class="col-sm-12">
            <div class="custom-heading">
                <h5 class="display-6 py-5 text-center" data-aos="zoom-in">Our Products</h5>
                <img src="../../assets/img/cps-icon.png" alt="" height="20px" class="heading-icon">
            </div>
        </div>
        <div class="col-sm-12">
            <p>Cloud Pharma Solutions partners with trusted vendors who use only premium-quality
                raw
                materials to
                manufacture their products.</p>
        </div>
    </div>
    <div class="row gy-4 justify-content-center mt-3 pb-5">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow mx-auto" style="width: 18rem;" data-aos="flip-left">
                <img class="card-img-top" src="../../assets/img/sq-foggers.jpg" alt="Card image cap">
                <div class="card-body text-center">

                    <a href="#" class="btn btn-custom" routerLink="/services/it-staffing">Fogger and Disinfectant</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow mx-auto" style="width: 18rem;" data-aos="flip-up">
                <img class="card-img-top" src="../../assets/img/sq-microlit.jpg" alt="Card image cap">
                <div class="card-body text-center">

                    <a href="#" class="btn btn-custom" routerLink="/services/training">Microlit Faveo</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow mx-auto" style="width: 18rem;" data-aos="flip-right">
                <img class="card-img-top" src="../../assets/img/sq-glassware.jpg" alt="Card image cap">
                <div class="card-body text-center">

                    <a href="#" class="btn btn-custom" routerLink="/services/software-development">Lab Glassware</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow mx-auto" style="width: 18rem;" data-aos="flip-right">
                <img class="card-img-top" src="../../assets/img/sq-funnels.jpeg" alt="Card image cap">
                <div class="card-body text-center">

                    <a href="#" class="btn btn-custom" routerLink="/services/it-staffing">Funnels</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow mx-auto" style="width: 18rem;" data-aos="flip-down">
                <img class="card-img-top" src="../../assets/img/sq-lab-oil-bath.webp" alt="Card image cap">
                <div class="card-body text-center">

                    <a href="#" class="btn btn-custom" routerLink="/services/training">Digital Heating Oil</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow mx-auto" style="width: 18rem;" data-aos="flip-left">
                <img class="card-img-top" src="../../assets/img/media-plates-2.jpg" alt="Card image cap">
                <div class="card-body text-center">
                    <a href="#" class="btn btn-custom" routerLink="/services/software-development">Media Plates</a>
                </div>
            </div>
        </div>
    </div>

</div>